{extend name="./common/view"}

{block name="title"}
教室
{/block}

{block name="body"}
<center>
  <a href="/classroom/allday" class="layui-btn layui-btn-normal">全天</a>
  <a href="/classroom/am" class="layui-btn layui-btn-normal">上午</a>
  <a href="/classroom/pm" class="layui-btn layui-btn-normal">下午</a>
  </center>
  <br>
  <center>
  <a href="/classroom/night" class="layui-btn layui-btn-normal">晚上</a>
  <a href="/classroom/0102" class="layui-btn layui-btn-normal">12节</a>
  <a href="/classroom/0304" class="layui-btn layui-btn-normal">34节</a>
  </center>
  <br>
  <center>
  <a href="/classroom/0506" class="layui-btn layui-btn-normal">56节</a>
  <a href="/classroom/0708" class="layui-btn layui-btn-normal">78节</a>
  <a href="/classroom/0910" class="layui-btn layui-btn-normal">9X节</a>
</center>
<br>
<style type="text/css">
  .info{
    margin-left:3px; 
  }
  .info2{
    margin-left:7px; 
  }
</style>

<hr class="layui-bg-gray">
<?php foreach ($info as $value) { ?>
  <center class="info">{$value['jxl']}</center>
  <hr class="layui-bg-gray">
  <?php foreach ($value['jsList'] as $value2) { ?>
    <div class="info2">{$value2['jsmc']}({$value2['zws']}座)</div>
    <hr class="layui-bg-gray">
  <?php } ?>
<?php } ?>

{/block}
