{extend name="./common/view"}

{block name="title"}
总览
{/block}

{block name="body"}
<style type="text/css">
    .funct{
        border-bottom:1px solid #eee;
        border-right:1px solid #eee;
        width: 33.3%;
        text-align: center;
        cursor: pointer;
        padding-bottom: 9px;
    }
    .size{
        display: block;
        margin-top: 15px;
        font-size: 45px; 
        margin-bottom: 5px;
    }
</style>
<div style="display: flex;flex-wrap: wrap;border-left:1px solid #eee;border-top:1px solid #eee;">
<div class="funct" onclick="location.href='{$ctx}/index/sw/table'"><i class="layui-icon layui-icon-table size"></i>查课表</div>
<div class="funct" onclick="location.href='{$ctx}/classroom'"><i class="layui-icon layui-icon-user size"></i>查教室</div>
<div class="funct" onclick="location.href='{$ctx}/index/sw/grade'"><i class="layui-icon layui-icon-chart-screen size"></i>查成绩</div>

</div>
{/block}
order