[submodule "SHST-UNI"]
	path = SHST-UNI
	url = https://github.com/SHST-SDUST/SHST-UNI
[submodule "SHST-WEL"]
	path = SHST-WEL
	url = https://github.com/SHST-SDUST/SHST-WEL
[submodule "SHST-WEX"]
	path = SHST-WEX
	url = https://github.com/SHST-SDUST/SHST-WEX
