{extend name="../../auxiliary/common/view"}

{block name="title"}
成绩
{/block}

{block name="body"}
<style>
    .card{
      font-size: 13px;
      display: flex;
      border-bottom:1px solid #eee;
      padding: 5px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.123);
      margin-bottom: 10px;
      justify-content: space-between;
    }

    .cName{
      font-size: 17px;
    }

    .infoRight{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .infoLeft{
      display: flex;
      flex-direction: column;
      line-height: 17px;
    }

    .cgrade{
      font-size: 20px;
      color:  #569FD1;
    }

    .card view{
      margin: 5px;
    }
    .layui-bg-gray{
        margin-top: 0px;
        margin-bottom: 20px;
    }
</style>
<center style="display: flex;justify-content:center;">
    <form class="layui-form" action="">
        <div class="layui-form-item" style="margin-right: 5px;border-radius: 3px;width: 150px;">
            <select id="sele" class="layui-input layui-unselect" >
                <option value="All">全部学期</option>
                <option value="2016-2017-1">2016-2017-1</option>
                <option value="2016-2017-2">2016-2017-2</option>
                <option value="2017-2018-1">2017-2018-2</option>
                <option value="2017-2018-2">2017-2018-1</option>
                <option value="2018-2019-1">2018-2019-1</option>
                <option value="2018-2019-2">2018-2019-2</option>
                <option value="2019-2020-1">2019-2020-1</option>
                <option value="2019-2020-2">2019-2020-2</option>
                <option value="2020-2021-1">2020-2021-1</option>
                <option value="2020-2021-2">2020-2021-2</option>
            </select>
        </div>
    </form>
    <div class="layui-btn layui-btn-normal" onclick="loadGrade()">确定</div>
</center>
<hr class="layui-bg-gray">
    <div id="point" style="text-align: center;"></div>
    <?php if($info && $info[0]){ foreach ($info as $value) { ?>
        <view class='card'>
          <view class='infoLeft'>
            <view class='cName'>{$value['kcmc']}</view>
            <view style='color:#aaa;'>{$value['kclbmc']}</view>
            <view style='color:#aaa;'>{$value['ksxzmc']}</view>
          </view>
          <view class='infoRight'>
            <view class='cgrade'>{$value['zcj']}</view>
            <view style='color:#aaa;'>{$value['xf']}学分</view>
          </view>
        </view>
    <?php } } ?>
</div>

<script type="text/javascript">

    function loadGrade() {
        var xn = $("#sele").val();
        xn = "/" + xn;
	    location.href='{$ctx}/index.php/adapt/sw/grade'+xn;
    }

    function pointHandle(info){
      try{
        var n = info.length;
        var point = 0;
        var pointN = 0;
        for (var i = 0; i < n; i++) {
        	if (info[i].kclbmc === "公选" ) continue;
        	pointN++;
            if (info[i].zcj === "优") point+=4.5;
            else if(info[i].zcj === "良") point+=3.5;
            else if(info[i].zcj === "中") point+=2.5;
            else if(info[i].zcj === "及格") point+=1.5;
            else if(info[i].zcj === "不及格") point+=0;
            else {
                var s = parseInt(info[i].zcj);
                if (s>=60) point += ((s-50) / 10);
            }
            $("#point").html("当前成绩绩点:"+ (point/pointN).toFixed(2) + "<hr class='layui-bg-gray'>");
        }
      }catch(err){}
        
    }
    function init(){
	layui.use('form', function(){
          var form = layui.form;
        });
	// $("#point").html("兼容模式下暂不支持绩点计算<hr class='layui-bg-gray'>");
    }
    window.onload=function(){$("#sele  option[value='{$xnxqh}'] ").attr("selected",true);init();}
</script>
{/block}
