{extend name="../../auxiliary/common/view"}

{block name="title"}
成绩
{/block}

{block name="body"}
<center style="display: flex;justify-content:center;">
    <form class="layui-form" action="">
        <div class="layui-form-item" style="margin-right: 5px;border-radius: 3px;width: 150px;">
            <select id="sele" class="layui-input layui-unselect" >
                <option value="">全部学期</option>
                <option value="2016-2017-1">2016-2017-1</option>
                <option value="2016-2017-2">2016-2017-2</option>
                <option value="2017-2018-1">2017-2018-2</option>
                <option value="2017-2018-2">2017-2018-1</option>
                <option value="2018-2019-1">2018-2019-1</option>
                <option value="2018-2019-2">2018-2019-2</option>
                <option value="2019-2020-1">2019-2020-1</option>
                <option value="2019-2020-2">2019-2020-2</option>
                <option value="2020-2021-1">2020-2021-1</option>
                <option value="2020-2021-2">2020-2021-2</option>
            </select>
        </div>
    </form>
    <div class="layui-btn layui-btn-normal" onclick="loadGrade()">确定</div>
</center>
<hr class="layui-bg-gray">
    <div id="point" style="text-align: center;"></div>
    <?php if($info){ foreach ($info as $value) { ?>
            <div style="padding: 6px;">{$value['zcj']} {$value['kcmc']} {$value['xf']}</div>
            <hr class="layui-bg-gray">
    <?php } } ?>
</div>

<script type="text/javascript">

    function loadGrade() {
        var xn = $("#sele").val();
        if (xn !== "") xn = "/" + xn;
	location.href='{$ctx}/adapt/sw/grade'+xn;
    }

    function pointHandle(info){
      try{
        var n = info.length;
        var point = 0;
        var pointN = 0;
        for (var i = 0; i < n; i++) {
        	if (info[i].kclbmc === "公选" ) continue;
        	pointN++;
            if (info[i].zcj === "优") point+=4.5;
            else if(info[i].zcj === "良") point+=3.5;
            else if(info[i].zcj === "中") point+=2.5;
            else if(info[i].zcj === "及格") point+=1.5;
            else if(info[i].zcj === "不及格") point+=0;
            else {
                var s = parseInt(info[i].zcj);
                if (s>=60) point += ((s-50) / 10);
            }
            $("#point").html("当前成绩绩点:"+ (point/pointN).toFixed(2) + "<hr class='layui-bg-gray'>");
        }
      }catch(err){}
        
    }
    function init(){
	layui.use('form', function(){
          var form = layui.form;
        });
	$("#point").html("兼容模式下暂不支持绩点计算<hr class='layui-bg-gray'>");
    }
    window.onload=function(){$("#sele  option[value='{$xnxqh}'] ").attr("selected",true);init();}
</script>
{/block}
