{extend name="../../auxiliary/common/view"}

{block name="title"}
查课表
{/block}

{block name="body"}
<center style="display: flex;justify-content:center;">
	<div class="layui-btn layui-btn-primary layui-btn-sm nl" onclick="descZC()"><</div>
	<div style="margin-top: 6px;margin-left: 20px;margin-right: 20px;">第<label id="zcS">{$zc}</label>周</div><input type="hidden" id="zc" value="{$zc}">
	<div class="layui-btn layui-btn-primary layui-btn-sm nl" onclick="addZC()">></div>
</center>
<!--start-->
<style type="text/css">
	.info{
		margin-left:7px; 
	}
	.hrTable{
		border-bottom: 1px solid #eee;
		height: 133px; 
	}
	.hrTable2{
		border-bottom: 1px solid #eee;
		height: 136px; 
	}
	.hrTable3{
		border-bottom: 1px solid #eee;
		height: 137px; 
	}
	.hrTable4{
		border-bottom: 1px solid #eee;
		height: 136px; 
	}
	.hrTable5{
                border-bottom: 1px solid #eee;
                height: 136px;
        }
	.asse-hr{
		margin-bottom: 3px;
	}
	.nl{

	}
	.timetableHide{
		width: calc(100% / 7);
		min-height: 130px;
		border-radius: 3px;
		margin-left: 3px;
		text-align: center;
		word-break: break-all;
		color: #fff;
		padding: 1px;
		background: #fff;
		font-size: 13px;
	}
	.timetablehr{
		margin-top:3px; 
	}
	.asse-hr{
        background-color: #eee !important;
        height: 1px;
        border: none;
    }
</style>
<hr class="asse-hr">
 <div style="position: relative;">
    <div id="app"></div>
	<?php
		if($info){
			for($i = 0;$i < 5;$i++){
				echo '<div style="display: flex;">';
				for($k = 0;$k < 7;$k++){
					if(array_key_exists($k,$info) && array_key_exists($i,$info[$k])){
	?>
    		<div class="timetableHide" style="background: {$info[$k][$i][5]} ;">{$info[$k][$i][3]}<br>{$info[$k][$i][4]}</div>
	<?php
					}else{
	?>
    		<div class="timetableHide"></div>
	<?php

					}
				}
				echo '</div>';
				echo '<hr class="asse-hr timetablehr">';
			}
		}
	?>
</div>
<!--end-->
<script type="text/javascript">
	function addZC() {
		var zc = parseInt($("#zc").val()) + 1;
		location.href = '{$ctx}/index.php/adapt/sw/table/'+zc;
	}
	function descZC() {
		var zc = parseInt($("#zc").val()) - 1;
		if (zc<0) {return ;}
		location.href = '{$ctx}/index.php/adapt/sw/table/'+zc;
	}
	//window.onload=function(){loadTable();}
</script>

{/block}
<div style="background: #eee;border-radius: 3px;position: absolute;
	height: <?php echo ( (int)substr($value['kcsj'],3,4) - (int)substr($value['kcsj'],1,2) ) * 120 ?>px;
	top: <?php echo ((int)substr($value['kcsj'],1,2) - 1)  * 63 ?>px;
	left: calc(100% / 7 * <?php echo ((int)$value['kcsj'][0] - 1); ?> + <?php echo ((int)$value['kcsj'][0]*3); ?>px);
	width: calc(100% / 7);">
</div>
