/* start --- 颜色 --- start */
$a-blue: #4C98F7;
$a-white: #FFFFFF;
$a-green: #009688;
$a-yellow: #FFB800;
$a-orange: #FF5722;
$a-background: #F8F8F8;
$a-font-grey: #606266;

$a-main-color: #303133;
$a-content-color: #606266;
$a-tips-color: #909399;
$a-light-color: #c0c4cc;
$a-border-color: #e4e7ed;
$a-bg-color: #f3f4f6;

$a-type-primary: #2979ff;
$a-type-primary-light: #ecf5ff;
$a-type-primary-disabled: #a0cfff;
$a-type-primary-dark: #2b85e4;

$a-type-warning: #ff9900;
$a-type-warning-disabled: #fcbd71;
$a-type-warning-dark: #f29100;
$a-type-warning-light: #fdf6ec;

$a-type-success: #19be6b;
$a-type-success-disabled: #71d5a1;
$a-type-success-dark: #18b566;
$a-type-success-light: #dbf1e1;

$a-type-error: #fa3534;
$a-type-error-disabled: #fab6b6;
$a-type-error-dark: #dd6161;
$a-type-error-light: #fef0f0;

$a-type-info: #909399;
$a-type-info-disabled: #c8c9cc;
$a-type-info-dark: #82848a;
$a-type-info-light: #f4f4f5;
/* end --- 颜色 --- end */



/* start --- 文本行数限制 --- start */
.a-line-1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.a-line-2 {
    -webkit-line-clamp: 2;
}

.a-line-3 {
    -webkit-line-clamp: 3;
}

.a-line-4 {
    -webkit-line-clamp: 4;
}

.a-line-5 {
    -webkit-line-clamp: 5;
}

.a-line-2, .a-line-3, .a-line-4, .a-line-5 {
    overflow: hidden;
	word-break: break-all;
    text-overflow: ellipsis; 
    display: -webkit-box; // 弹性伸缩盒
    -webkit-box-orient: vertical; // 设置伸缩盒子元素排列方式
}
/* end --- 文本行数限制 --- end */

/* start --- 文字大小 --- start */
@for $i from 10 to 27 {
	.a-fontsize-#{$i} {
		font-size: $i + px;
	}
}
/* end --- 文字大小 --- end */

/* start --- 内外边距 --- start */
$size-list: 3,5,6,10,15,20;
@each $item in $size-list{
    @each $short, $long in l left, t top, r right, b bottom {
    	.a-m#{$short}-#{$item} {
    		margin-#{$long}: $item + px !important;
    	}
    	.a-p#{$short}-#{$item} {
    		padding-#{$long}: $item + px !important;
    	}
    }
}

/* end --- 内外边距 --- end */

/* start --- 间隙大小 --- start */
@for $i from 5 to 15 {
	.a-gap-#{$i} {
		height: $i + px;
	}
}
/* end --- 间隙大小 --- end */