{extend name="../../auxiliary/common/view"}

{block name="title"}
图书馆藏书查询
{/block}

{block name="body"}
<style type="text/css">
    .card,.cardTips{
        margin-bottom: 20px;
        border:1px solid #eee;
        width: calc(100% - 2px);
        padding: 10px;
    }
    .card:first-line{ 
      font-size: 23px;
    }
    .info{
        margin-top: 3px;
    }
</style>
<center style="display: flex;justify-content:center;margin-bottom:20px; ">
    <form class="layui-form" action="{$ctx}/index/sw/bookquery" method="post" style="display: flex;">
         <input type="text" name="q" class="layui-input" value="{$q}">
         <button class="layui-btn layui-btn-normal" style="margin-left: 10px;">检索</button>
    </form>
</center>

    <?php  
        foreach ($libInfo as $value) { 
    ?>
        <div class="card">
      <?php 
        $n = 0;
        foreach ($value as $value2) {  
        $n++; 
      ?>
            <?php if( $n === 5) {?>
                <div class="layui-btn layui-btn-normal layui-btn-sm" onclick="popup('{$value2}')" style="margin: 10px 0px;">详细信息</div>
            <?php break;}?>
            <div class="info">{$value2}</div>
      <?php } ?>
      </div>
    <?php } ?>
    
    <?php if($q !== "" ) { ?>
    <script type="text/javascript">
        function prepage(page) {
            if (page === 1) {return "";}
            $("#page").val(page-1);
            $("#pageform").submit();
        }
        function nextpage(page) {
            $("#page").val(parseInt(page)+1);
            $("#pageform").submit();
        }
    </script>
        <form id="pageform" class="layui-form" action="{$ctx}/index/sw/bookquery" method="post" style="display: flex;">
            <input type="hidden" name="q"  value="{$q}">
            <input type="hidden" id="page" name="page" >
        </form>
        <div style="display: flex;">
            <div class="layui-btn layui-btn-normal layui-btn-sm" onclick="prepage({$page})" style="margin-left: 10px;">上一页</div>
            <div class="layui-btn layui-btn-normal layui-btn-sm" onclick="nextpage({$page})" style="margin-left: 10px;">下一页</div>
            <div style="line-height: 38px;margin-left: 30px;font-size: 16px;">{$pageInfo}</div>
        </div>
        
    <?php } ?>
    <div class="cardTips" style="margin-top:10px;" >
        <div class="info" >Tips:
            <br>1.说实话图书馆的服务器挺容易崩溃的，如果页面失去响应了，那一般是学校图书馆崩溃了 
            <br>2.学校图书馆外网访问好像会定时关闭，正常使用时间大约是在 7:00-20:00
        </div>
    </div>
    <script type="text/javascript">
        function popup(url) {
            layui.use('layer',function(){
                var layer = layui.layer;
                var index = layer.open({
                  type: 2,
                  fixed: false, //不固定
                  maxmin: false,
                  content: url,
                  shadeClose : true
                });
                layer.full(index);
            })
        }
    </script>
{/block}

