{extend name="../../auxiliary/common/view"}

{block name="title"}
关于
{/block}

{block name="body"}
<style type="text/css">
    .unit{
        margin-right:5px;
    }
   body{
        line-height:23px;
    }
</style>
{$tips}
<fieldset class="layui-elem-field">
  <legend>关于</legend>
  <div class="layui-field-box">
       <div><span class="layui-badge-dot layui-bg-green"></span> 用户总数: {$userCount}</div>
       <div><span class="layui-badge-dot layui-bg-green"></span> 亲爱的同学们大家好，我是写代码时长一年半的个人开发者轻风，喜欢唱、跳、Ctrl+C、Ctrl+V。最早是因为智校园无法使用，我无法查询自习室，在J7爬了四层楼未找到自习室，遂回宿舍封装了此代码</div>
       <div><span class="layui-badge-dot layui-bg-green"></span> 
       如果有同学有想法拓展功能的话，源码提交在Github(欢迎 star fork)，可直接pull request，也可以联系我 QQ 651525974(大白菜)</div>
       </div>
</fieldset>

<script type="text/javascript">
    if(!localStorage.getItem("tips") | localStorage.getItem("tips") < {$tipsFlag}){
        localStorage.setItem("tips",{$tipsFlag});
    }
</script>
{/block}
