{extend name="../../auxiliary/common/view"}

{block name="title"}
图书馆借阅查询
{/block}

{block name="body"}
<style type="text/css">
	.card,.cardTips{
		margin-bottom: 20px;
		border:1px solid #eee;
		width: calc(100% - 2px);
		padding: 10px;
	}
	.card:first-line{ 
	  font-size: 23px;
	}
	.info{
		margin-top: 3px;
	}
</style>
	<?php foreach ($libInfo as $value) { ?>
		<div class="card">
	  <?php foreach ($value as $value2) { ?>
	    	<div class="info">{$value2}</div>
	  <?php } ?>
	  </div>
	<?php } ?>
	
	<div class="cardTips" >
		<div class="info" >Tips:
			<br>1.图书馆逾期是不扣钱的 
			<br>2.如果您借了书但本页面为空，有可能您修改了图书馆默认密码，或者是图书馆服务器暂时瘫痪
            <br>3.学校图书馆外网访问好像会定时关闭，正常使用时间大约是在 7:00-20:00
		</div>
	</div>
{/block}

