{extend name="../../auxiliary/common/view"}

{block name="title"}
总览
<style type="text/css">
    .wImg{
        width: 30px;
    }
</style>
<script type="text/javascript">
    var showTips = () => {
        layui.use("layer",()=>{
            var layer = layui.layer;
            layer.tips("{$weather['result']['hourly']['description']}", '#wTips',{tips: [4, '#9CB6E9'],time:5000});
        })
    }
</script>
<div style="float: right;" id="wTips" onclick="showTips()">
    <img class="wImg" src="{$ctx}/public/static/weather/{$weather['result']['daily']['skycon'][0]['value']}.png">
    <img class="wImg" src="{$ctx}/public/static/weather/{$weather['result']['daily']['skycon'][1]['value']}.png">
    <img class="wImg" src="{$ctx}/public/static/weather/{$weather['result']['daily']['skycon'][2]['value']}.png">
</div>
{/block}

{block name="body"}
<style type="text/css">
    .funct{
        border-bottom:1px solid #eee;
        border-right:1px solid #eee;
        width: 33.3%;
        text-align: center;
        cursor: pointer;
        padding-bottom: 9px;
    }
    .size{
        display: block;
        margin-top: 15px;
        font-size: 45px; 
        margin-bottom: 5px;
    }
    .size2{
        display: block;
        margin-top: 20px;
        font-size: 40px; 
        margin-bottom: 7px;
    }
    .ad{
        width: 100%;
        border-top:none;
        display: flex;
        justify-content: space-between;
    }
</style>
<script type="text/javascript">
    function adaptIndex(route) {
        location.href=ctx + "/index.php/adapt/sw/" + route;
        return "";
        if (localStorage.getItem("flag") === "0") {
            location.href=ctx + "/index.php/index/sw/" + route;
          } else {
            location.href=ctx + "/index.php/adapt/sw/" + route;
          }
    }
</script>
<div style="display: flex;flex-wrap: wrap;border-left:1px solid #eee;border-top:1px solid #eee;">
<div class="funct" onclick="adaptIndex('table')"><i class="layui-icon layui-icon-table size"></i>查课表</div>
<div class="funct" onclick="location.href='{$ctx}/index.php/classroom'"><i class="layui-icon layui-icon-user size"></i>查教室</div>
<div class="funct" onclick="adaptIndex('grade')"><i class="layui-icon layui-icon-chart-screen size"></i>查成绩</div>
<div class="funct" onclick="location.href='{$ctx}/index.php/index/share/tableshare'"><i class="layui-icon layui-icon-release size2"></i>共享课表</div>
<div class="funct" onclick="location.href='{$ctx}/index.php/index/sw/library'"><i class="layui-icon layui-icon-read size2"></i>图书馆</div>
<div class="funct" onclick="location.href='{$ctx}/index.php/index/sw/urlshare'"><i class="layui-icon layui-icon-unlink size2"></i>链接</div>
<div class="funct" onclick="location.href='{$ctx}/index.php/index/sw/github'"><i class="layui-icon layui-icon-fonts-code size"></i>源码</div>
<div class="funct" onclick="location.href='{$ctx}/index.php/index/sw/updateHis'"><i class="layui-icon layui-icon-log size"></i>更新日志</div>
<div class="funct" onclick="location.href='{$ctx}/index.php/index/sw/info'"><i class="layui-icon layui-icon-about size"></i><span id="tips">公告</span></div>
</div>
<script type="text/javascript">
    if(!localStorage.getItem("tips") | localStorage.getItem("tips") < {$tipsFlag}){
        $("#tips").html('<span class="layui-badge-dot"></span> 公告');
    }
</script>
{/block}

{block name="ext"}
  <div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-body" style='position:relative;'>
         <div class="ad">
            <div><span class="layui-badge-dot layui-bg-green"></span> 微信小程序 山科小站</div>
            <div><a href="https://www.liyanzuisha.cn/sdust/index.php/index/index/info">点我查看详情</a></div>
        </div>
        </div>
      </div>
    </div><!-- /.col-->
  </div><!-- /.row --> 
{/block}