{extend name="../../auxiliary/common/view"}

{block name="title"}
总览
{/block}

{block name="body"}
<style type="text/css">
    .funct{
        border-bottom:1px solid #eee;
        border-right:1px solid #eee;
        width: 33.3%;
        text-align: center;
        cursor: pointer;
        padding-bottom: 9px;
    }
    .size{
        display: block;
        margin-top: 15px;
        font-size: 45px; 
        margin-bottom: 5px;
    }
    .size2{
        display: block;
        margin-top: 20px;
        font-size: 40px; 
        margin-bottom: 7px;
    }
</style>
<script type="text/javascript">
    function adaptIndex(route) {
        if (localStorage.getItem("flag") === "0") {
            location.href=ctx + "/index/sw/" + route;
          } else {
            location.href=ctx + "/adapt/sw/" + route;
          }
    }
</script>
<div style="display: flex;flex-wrap: wrap;border-left:1px solid #eee;border-top:1px solid #eee;">
<div class="funct" onclick="adaptIndex('table')"><i class="layui-icon layui-icon-table size"></i>查课表</div>
<div class="funct" onclick="location.href='{$ctx}/classroom'"><i class="layui-icon layui-icon-user size"></i>查教室</div>
<div class="funct" onclick="adaptIndex('grade')"><i class="layui-icon layui-icon-chart-screen size"></i>查成绩</div>
<div class="funct" onclick="location.href='{$ctx}/index/share/tableshare'"><i class="layui-icon layui-icon-release size2"></i>共享课表</div>
<div class="funct" onclick="location.href='{$ctx}/index/sw/library'"><i class="layui-icon layui-icon-read size2"></i>图书馆</div>
<div class="funct" onclick="location.href='{$ctx}/index/sw/urlshare'"><i class="layui-icon layui-icon-unlink size2"></i>链接</div>
<div class="funct" onclick="location.href='{$ctx}/index/sw/github'"><i class="layui-icon layui-icon-fonts-code size"></i>源码</div>
<div class="funct" onclick="location.href='{$ctx}/index/sw/updateHis'"><i class="layui-icon layui-icon-log size"></i>更新日志</div>
<div class="funct" onclick="location.href='{$ctx}/index/sw/info'"><i class="layui-icon layui-icon-about size"></i><span id="tips">公告</span></div>

</div>
<script type="text/javascript">
    if(!localStorage.getItem("tips") | localStorage.getItem("tips") < {$tipsFlag}){
        $("#tips").html('<span class="layui-badge-dot"></span> 公告');
    }
</script>
{/block}

