{extend name="../../auxiliary/common/view"}

{block name="title"}
查课表
{/block}

{block name="body"}
<center style="display: flex;justify-content:center;">
	<div class="layui-btn layui-btn-primary layui-btn-sm nl" onclick="descZC()"><</div>
	<div style="margin-top: 6px;margin-left: 20px;margin-right: 20px;">第<label id="zcS">{$zc}</label>周</div><input type="hidden" id="zc" value="{$zc}">
	<div class="layui-btn layui-btn-primary layui-btn-sm nl" onclick="addZC()">></div>
</center>
<!--start-->
<style type="text/css">
    .info{
        margin-left:7px; 
    }
    .hrTable{
        border-bottom: 1px solid #eee;
        height: 133px; 
    }
    .hrTable2{
        border-bottom: 1px solid #eee;
        height: 136px; 
    }
    .hrTable3{
        border-bottom: 1px solid #eee;
        height: 137px; 
    }
    .hrTable4{
        border-bottom: 1px solid #eee;
        height: 139px; 
    }
    .hrTable5{
                border-bottom: 1px solid #eee;
                height: 136px;
        }
    .asse-hr{
        margin-bottom: 3px;
    }
    .nl{

    }
    .timetablehr{
        margin-top:3px; 
    }
    .timetableHide{
        width: calc(100% / 7);
        min-height: 130px;
        border-radius: 3px;
        margin-left: 3px;
        text-align: center;
        word-break: break-all;
        color: #fff;
        padding: 1px;
        background: #fff;
        font-size: 13px;
    }
    .asse-hr{
        background-color: #eee !important;
        height: 1px;
        border: none;
    }
</style>
<hr class="asse-hr">
 <div style="position: relative;">
    <div id="app">
    	<div style="display: flex;">
    		<div id="t00" class="timetableHide"></div>
    		<div id="t01" class="timetableHide"></div>
    		<div id="t02" class="timetableHide"></div>
    		<div id="t03" class="timetableHide"></div>
    		<div id="t04" class="timetableHide"></div>
    		<div id="t05" class="timetableHide"></div>
    		<div id="t06" class="timetableHide"></div>
    	</div>
		<hr class="asse-hr timetablehr">
    	<div style="display: flex;">
    		<div id="t10" class="timetableHide"></div>
    		<div id="t11" class="timetableHide"></div>
    		<div id="t12" class="timetableHide"></div>
    		<div id="t13" class="timetableHide"></div>
    		<div id="t14" class="timetableHide"></div>
    		<div id="t15" class="timetableHide"></div>
    		<div id="t16" class="timetableHide"></div>
    	</div>
		<hr class="asse-hr timetablehr">
    	<div style="display: flex;">
    		<div id="t20" class="timetableHide"></div>
    		<div id="t21" class="timetableHide"></div>
    		<div id="t22" class="timetableHide"></div>
    		<div id="t23" class="timetableHide"></div>
    		<div id="t24" class="timetableHide"></div>
    		<div id="t25" class="timetableHide"></div>
    		<div id="t26" class="timetableHide"></div>
    	</div>
		<hr class="asse-hr timetablehr">
    	<div style="display: flex;">
    		<div id="t30" class="timetableHide"></div>
    		<div id="t31" class="timetableHide"></div>
    		<div id="t32" class="timetableHide"></div>
    		<div id="t33" class="timetableHide"></div>
    		<div id="t34" class="timetableHide"></div>
    		<div id="t35" class="timetableHide"></div>
    		<div id="t36" class="timetableHide"></div>
    	</div>
		<hr class="asse-hr timetablehr">
    	<div style="display: flex;">
    		<div id="t40" class="timetableHide"></div>
    		<div id="t41" class="timetableHide"></div>
    		<div id="t42" class="timetableHide"></div>
    		<div id="t43" class="timetableHide"></div>
    		<div id="t44" class="timetableHide"></div>
    		<div id="t45" class="timetableHide"></div>
    		<div id="t46" class="timetableHide"></div>
    	</div>
		<hr class="asse-hr timetablehr">
    </div>
</div>
<!--end-->
<script type="text/javascript">
	function tableStart(info){
		layer.closeAll();
		for (var i = 0; i < 7; i++) {
			for (var k = 0; k < 5; k++) {
				if (info[i] && info[i][k]) {
					var innerInfo = info[i][k];
					var node = $("#t"+k.toString()+i.toString());
					node.html(innerInfo[3]+"<br>"+innerInfo[4]);
					node.css("background",innerInfo[5]);
				}else{
                    var node = $("#t"+k.toString()+i.toString());
                    node.html("");
                    node.css("background","#fff");
                }
			}
		}
	}
</script>
<script type="text/javascript">
	function loadTable(zc = "") {
		loadmsg();
		if (zc !== "") zc = "/" + zc;
		$.ajax({                                      
	      type:"post",
	      url:ctx + "/index.php/funct/sw/table" + zc,  
	      dataType:"json",                      
	      success:function(data)
	      {
	          if (data.MESSAGE=="Yes") tableStart(data.data);
	          else errmsg('请求失败');
	      },
	      error:function()
	      {
	          layer.closeAll();
	          errmsg('请求失败');
	      }
	  });
	}
</script>
<script type="text/javascript">
	function addZC() {
		var zc = parseInt($("#zc").val()) + 1;
		loadTable(zc);
		$("#zc").val(zc);
		$("#zcS").html(zc);
	}
	function descZC() {
		var zc = parseInt($("#zc").val()) - 1;
		if (zc<0) {return ;}
		loadTable(zc);
		$("#zc").val(zc);
		$("#zcS").html(zc);
	}
	window.onload=function(){loadTable();}
</script>

{/block}
<div style="background: #eee;border-radius: 3px;position: absolute;
	height: <?php echo ( (int)substr($value['kcsj'],3,4) - (int)substr($value['kcsj'],1,2) ) * 120 ?>px;
	top: <?php echo ((int)substr($value['kcsj'],1,2) - 1)  * 63 ?>px;
	left: calc(100% / 7 * <?php echo ((int)$value['kcsj'][0] - 1); ?> + <?php echo ((int)$value['kcsj'][0]*3); ?>px);
	width: calc(100% / 7);">
</div>
