{extend name="../../auxiliary/common/view"}

{block name="title"}
链接分享
{/block}

{block name="body"}
<script type="text/javascript" src="{$ctx}/public/static/js/clipboard.min.js"></script>
<style type="text/css">
    .card,.cardTips{
        margin-bottom: 20px;
        border:1px solid #eee;
        width: calc(100% - 2px);
        padding: 10px;
    }
    .card:first-line{ 
      font-size: 17px;
    }
    .info{
        margin-top: 3px;
    }
    input{
        display: block;
        width: 100%;
        border:1px solid #eee;
        margin-top: 5px;
    }
</style>
<script type="text/javascript">
    function copyUrl(url){
     window.clipboardData.setData("Text",url);
     alert("复制链接成功！");
    }
</script>
    <?php foreach ($url as $value) { ?>
        <div class="card">
          {$value['name']}
          <input type="text" value="{$value['url']}">
          <div style="display: flex;">
              <div class="layui-btn layui-btn-normal layui-btn-sm" name='btn' style="margin: 10px auto;" data-clipboard-text="{$value['url']}">复制链接</div>
              <a class="layui-btn layui-btn-normal layui-btn-sm" style="margin: 10px auto;"  href="{$value['url']}">点击进入</a>
          </div>
        </div>
    <?php } ?>
<script type="text/javascript">
    var btnList = document.querySelectorAll('div[name=btn]');
    var clipboard = new ClipboardJS(btnList);

    clipboard.on('success', function(e) {
        layui.use('layer',function(){
            var layer = layui.layer;
            layer.msg('复制成功',{offset: 't',area:['110px','50px']});
        })
    });

    clipboard.on('error', function(e) {
        layui.use('layer',function(){
            var layer = layui.layer;
            layer.msg('复制失败',{offset: 't',area:['110px','50px']});
        })
    });
</script>
{/block}

