<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
<title>Query</title>

<link href="{$ctx}/public/static/css/bootstrap.min.css" rel="stylesheet">
<link href="{$ctx}/public/static/css/styles.css" rel="stylesheet">
</head>
<style type="text/css">
  body{
    margin-top: 50px;
  }
</style>
<body>
  <div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">{block name="title"}{/block}</div>
        <div class="panel-body">
          {block name="body"}{/block}
        </div>
      </div>
    </div><!-- /.col-->
  </div><!-- /.row -->  
  
    

<script src="{$ctx}/public/static/js/jquery-1.11.1.min.js"></script>
<script src="{$ctx}/public/static/js/bootstrap.min.js"></script>

  <script>
    !function ($) {
      $(document).on("click","ul.nav li.parent > a > span.icon", function(){      
        $(this).find('em:first').toggleClass("glyphicon-minus");    
      }); 
      $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
      if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
      if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
  </script> 
</body>
</html>

