<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>蚁合</title>

<!-- <link href="public/static/css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="public/static/css/datepicker3.css" rel="stylesheet"> -->
<!-- <link href="public/static/css/styles.css" rel="stylesheet"> -->

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

<link href="{$ctx}/public/static/css/bootstrap.min.css" rel="stylesheet">
<link href="{$ctx}/public/static/css/styles.css" rel="stylesheet">

</head>

<body>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">Log In</div>
				<div class="panel-body">
					<form role="form" action="{$ctx}/index.php/backstage/user/login" method="post">
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="账号" name="username" type="text" autofocus="">
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="密码" name="password" type="password" value="">
							</div>
							<div class="checkbox">
								<label>
									<input name="remember" type="checkbox" value="Remember Me">Remember Me
								</label>
							</div>
							<button  class="btn btn-primary">Login</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->	
	
		

<script src="{$ctx}/public/static/js/jquery-1.11.1.min.js"></script>
<script src="{$ctx}/public/static/js/bootstrap.min.js"></script>

	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
</body>

</html>
